body{
   background: url(img.jpg);
    align-items: center;
    margin: 400px;
    border-radius: 100%;
}   

    
.contenu{
    width: 500px;
    height: 400px;
    margin: 0 auto;
    border: 3px solid #212121;
    border-radius: 20px;
    padding: 20px;
}

.display,p{
    background-color:gray;
    padding: 15px;
    width: 250px;
    text-align: right;
    font-size: 20px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}
button{
    padding: 10px;
    width: 67px;
    height: 45px;
    margin-top: 10px;
    background-color: gray;
    color: black;
    font-size: 20px;
}
button:hover{
    cursor: pointer;
    background-color: bisque;
}
button:active{
    background-color: blanchedalmond;
}


